@import "../public/assets/css/style.css";
@import "@simonwep/pickr/dist/themes/classic.min.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "@simonwep/pickr/dist/themes/nano.min.css";

@import "simplebar-react/dist/simplebar.min.css";


  @media (max-width: 991.98px) {
    [data-toggled="open"] {
      #responsive-overlay {
        @apply visible #{!important};
        --tw-bg-opacity: 0.5;

      }
    } 
  };

